<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>后台</title>
    <link rel="stylesheet" href="../../static/layui/css/layui.css">
    <link rel="stylesheet" href="../../static/bootstrap/css/bootstrap.min.css">
    <style>
        .layui-nav-tree{
            text-align: center;
        }
        .layui-body{
            padding: 2rem 4rem;
            /*border: 3rem solid red;*/
        }
        .container{
            width: 100%;
            margin: 2rem;
        }
        /*.operation-1{*/
        /*    border-bottom: 3px solid whitesmoke;*/
        /*}*/
        .operation-1 input{
            zoom: 150%;
            width: 30rem;
            border-radius: 1rem ;
        }
        .operation-1 button{
            float: right;
            margin-right: 6rem;
            font-size: 1.5rem;
        }
        .text{
            overflow: hidden;
            margin-top: 2rem;
            background: #F5F5F5;
            width: 100%;
        }
        .text .container{
            width: 98%;
            z-index: 99;
            margin: auto;
            margin-top: 1rem;
            margin-bottom: 1rem;

            background: white;
        }
        .text .container .row{
            margin-top: 1rem;
        }

        img{
            width: 90%;
        }
        .operation-2{
            height: 5rem;
            line-height: 5rem;
            background: #D4D7DC;
        }
        .operation-2 button{
            background: #D4D7DC;
            border: none;
            font-size: 1.5rem;
            color:#4F5567;
        }
        .operation-2 input{
            zoom: 200%;
        }
    </style>
</head>
<body class="layui-layout-body">
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <div class="layui-logo">VPN-Speed</div>
            <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item">
                    <a href="javascript:;">
                        <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                        贤心
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="">基本资料</a></dd>
                        <dd><a href="">安全设置</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href="">退出</a></li>
            </ul>
        </div>

        <div class="layui-side layui-bg-black">
            <div class="layui-side-scroll">
                <ul class="layui-nav layui-nav-tree"  lay-filter="test">
                    <li class="layui-nav-item layui-nav-itemed">
                        <a href="javascript:;" onclick="defaultHtml()">文章管理</a>
                    </li>
                    <li class="layui-nav-item">
                        <a href="javascript:;" onclick="editorHtml()">文章编辑</a>
                    </li>
                    <li class="layui-nav-item"><a href="javascript:;" onclick="tagHtml()">标签管理</a></li>
                    <li class="layui-nav-item"><a href="javascript:;" onclick="entranceHtml()">快捷入口</a></li>
                </ul>
            </div>
        </div>

        <div class="layui-body">
            <div class="container operation-1">
                <div class="row">
                    <form class="col-md-5" >
                        <input type="text" placeholder="Search">
                    </form>
                    <button class="col-md-1 layui-btn layui-btn-radius layui-btn-danger" id="tongBu">批量同步</button>
                    <button class="col-md-1 layui-btn layui-btn-radius layui-btn-danger">批量删除</button>
                    <button class="col-md-1 layui-btn layui-btn-radius layui-btn-danger">新建文章</button>
                </div>
            </div>
            <div class="text">
                <div class="container">
                        <div class="row">
                            <div class="col-md-10">
                                <h2>11</h2>
                                <p></p>
                            </div>
                            <div class="col-md-2">
                                <img src="../../static/img/index/img_3.png">
                            </div>
                        </div>
                        <div class="row operation-2">
                            <div class="col-md-2">
                                <button><span class="glyphicon glyphicon-open" aria-hidden="true">同步</button>
                            </div>
                            <div class="col-md-2">
                                <button><span class="glyphicon glyphicon-remove" aria-hidden="true">加入回收站</button>
                            </div>
                            <div class="col-md-2">
                                <button><span class="glyphicon glyphicon-pencil" aria-hidden="true">编辑</button>
                            </div>
                            <div class="col-md-offset-4 col-md-1">
                                <input type="checkbox">
                            </div>
                        </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-10">
                            <h2>11</h2>
                            <p></p>
                        </div>
                        <div class="col-md-2">
                            <img src="../../static/img/index/img_3.png">
                        </div>
                    </div>
                    <div class="row operation-2">
                        <div class="col-md-2">
                            <button>同步</button>
                        </div>
                        <div class="col-md-2">
                            <button>加入回收站</button>
                        </div>
                        <div class="col-md-2">
                            <button>编辑</button>
                        </div>
                        <div class="col-md-offset-4 col-md-1">
                            <input type="checkbox">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-10">
                            <h2>11</h2>
                            <p></p>
                        </div>
                        <div class="col-md-2">
                            <img src="../../static/img/index/img_3.png">
                        </div>
                    </div>
                    <div class="row operation-2">
                        <div class="col-md-2">
                            <button>同步</button>
                        </div>
                        <div class="col-md-2">
                            <button>加入回收站</button>
                        </div>
                        <div class="col-md-2">
                            <button>编辑</button>
                        </div>
                        <div class="col-md-offset-4 col-md-1">
                            <input type="checkbox">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-10">
                            <h2>11</h2>
                            <p></p>
                        </div>
                        <div class="col-md-2">
                            <img src="../../static/img/index/img_3.png">
                        </div>
                    </div>
                    <div class="row operation-2">
                        <div class="col-md-2">
                            <button>同步</button>
                        </div>
                        <div class="col-md-2">
                            <button>加入回收站</button>
                        </div>
                        <div class="col-md-2">
                            <button>编辑</button>
                        </div>
                        <div class="col-md-offset-4 col-md-1">
                            <input type="checkbox">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-10">
                            <h2>11</h2>
                            <p></p>
                        </div>
                        <div class="col-md-2">
                            <img src="../../static/img/index/img_3.png">
                        </div>
                    </div>
                    <div class="row operation-2">
                        <div class="col-md-2">
                            <button>同步</button>
                        </div>
                        <div class="col-md-2">
                            <button>加入回收站</button>
                        </div>
                        <div class="col-md-2">
                            <button>编辑</button>
                        </div>
                        <div class="col-md-offset-4 col-md-1">
                            <input type="checkbox">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-10">
                            <h2>11</h2>
                            <p></p>
                        </div>
                        <div class="col-md-2">
                            <img src="../../static/img/index/img_3.png">
                        </div>
                    </div>
                    <div class="row operation-2">
                        <div class="col-md-2">
                            <button>同步</button>
                        </div>
                        <div class="col-md-2">
                            <button>加入回收站</button>
                        </div>
                        <div class="col-md-2">
                            <button>编辑</button>
                        </div>
                        <div class="col-md-offset-4 col-md-1">
                            <input type="checkbox">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-10">
                            <h2>11</h2>
                            <p></p>
                        </div>
                        <div class="col-md-2">
                            <img src="../../static/img/index/img_3.png">
                        </div>
                    </div>
                    <div class="row operation-2">
                        <div class="col-md-2">
                            <button>同步</button>
                        </div>
                        <div class="col-md-2">
                            <button>加入回收站</button>
                        </div>
                        <div class="col-md-2">
                            <button>编辑</button>
                        </div>
                        <div class="col-md-offset-4 col-md-1">
                            <input type="checkbox">
                        </div>
                    </div>
                </div>
            </div>
            <div class="page">
                <nav aria-label="Page navigation">
                    <ul class="pager pagination pagination-lg">
                        <li>
                            <a href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li>
                            <a href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

        <div class="layui-footer">
            © layui.com - 底部固定区域
        </div>
    </div>
    <script src="../../static/js/jquery-3.4.1.min.js"></script>
    <script src="../../static/layui/layui.js"></script>
    <script src="../../static/bootstrap/js/bootstrap.js"></script>

    <script>
    //JavaScript代码区域
    layui.use('element', function(){
        var element = layui.element;

    });

    $(function () {
        defaultHtml();
    });

    function defaultHtml() {
        $(".layui-body").load("default.html");
    }

    function editorHtml() {
        $(".layui-body").load("editor.html");
    }

    function tagHtml() {
        $(".layui-body").load("tag.html");
    }

    function entranceHtml() {
        $(".layui-body").load("entrance.html");
    }


    </script>
</body>
</html>